td {
  border: 2px solid grey;
  background: lightgrey;
  empty-cells: hide;
}

main {
 padding-left: 10px;
 padding-right: 10px;
}

table {
  border-collapse: collapse;
}

header {
  display: flex;
  padding-bottom: 7px;
  justify-content: center;
}

main, aside {
  border: 1px solid grey;
}

.flex {
  flex: 1;
  display: flex;
}

.clock {
  min-width: 170px;
}

.side-left{
  width: 25%;
  min-width: 170px;
}

.side-right{
  width: 25%;
  min-width: 170px;
}

.today{
  background: red;
}

.prevMonth{
  color: darkgray;
}